<!-- Footer -->
<footer class="footer text-center text-white">
  <!-- Grid container -->

    <section class="mb-4">
      <div class="container p-4">
          <!-- Section: Social media -->
          <div class="row">
            <div class="col-md-8 mx-auto">
            <a href="https://www.instagram.com/" style="margin-right: 10px;"><img src="../../assets/instagram1.png" alt=""></a>
            <a href="https://www.facebook.com/" style="margin-right: 10px;"><img src="../../assets/facebook3.png" alt=""></a>
            <a href="https://www.twitter.com/" style="margin-right: 10px;"><img src="../../assets/twitter.png" alt=""></a>
          </div>
        </div>
      </div>
    </section>

<section>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">


              <a href="#inicio" class="text-black" style="margin-right: 10px;">Inicio</a>
              <a href="#nosotros" class="text-black" style="margin-right: 10px;">Nosotros</a>
              <a href="#recursos" class="text-black" style="margin-right: 10px;">Recursos</a>
              <a href="#destacado" class="text-black" style="margin-right: 10px;">Destacado</a>
              <a href="#contacto" class="text-black" style="margin-right: 10px;">Contacto</a>


        </div>
      </div>
    </div>
  <!-- Copyright -->
  <div class="text-center p-3 text-black">
    © 2022 Proyecto final
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
