<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom" style="background: #e6d308;">CENTROS EDUCATIVOS DE FORMACIÓN GRATUITA</h2>
  

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="card mr-4" style="width: 18rem;">
        <img src="../../../assets/images/centro1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CESUR</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/centro2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SEPE</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/centro3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">INAV</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cruz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CRUZ ROJA ESPAÑOLA</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cursos8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cursos1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cursos4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cursos10.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>
    <div class="feature col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/cursos9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Sitio Oficial</a>
        </div>
      </div>

    </div>


  </div>

</div>
